.button {
    border: 1px solid #e5e5e5;
    border-radius: .8rem;
    background: #ebebeb6b;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
    margin-top: 13.5rem;
    transition: background .3s ease;
}

.button:hover {
    background-color: #e5e5e5;
}

@media (max-width: 570px) {
    .button {
        margin-top: 16.2rem;

    }
}