.homePage {
    position: relative;
    padding-top: 8rem;
    min-height: 100vh;
}

.onHomePage {
    composes: homePage;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onHomePage>*:not(img):not(footer):not(nav) {
    margin-bottom: 3.6rem;
}

.blur,
.background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.blur {
    z-index: -1;
    backdrop-filter: blur(2px);
}

.background {
    z-index: -2;
    clip-path: polygon(0% 100%, 50% 68%, 81% 34%, 100% 0%, 100% 100%);
    object-fit: cover;
}

.header {
    margin-top: 2.4rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 80%;
}

.header h1 {
    font-size: 5.4rem;
    margin-bottom: 1.6rem;
}

.header p {
    font-size: 1.8rem;
    font-style: italic;
    text-shadow: 0 0 4px rgba(255, 255, 255);

}

@media (max-width: 900px) {
    .header h1 {
        font-size: 4rem;
    }

    .header p {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .header {
        margin-top: 1.4rem;
    }

    .header h1 {
        font-size: 3.6rem;
    }

    .header p {
        font-size: 1.4rem;
    }
}