@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    --color-gray: #ebebeb8c;
    --color-gray-light: #d4d4d4;
    --color-gray-2: #a3a3a3;
    --color-blue: #9dd4ff;
}

a {
    font-weight: 800;
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

button {
    cursor: pointer;
}

.slick-dots {
    background-color: var(--color-gray);
    backdrop-filter: blur(24px);
    width: fit-content;
    text-wrap: nowrap;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
}

