.container {
    display: grid;
    grid-template-columns: 17rem 1fr;
    padding: 5.6rem 5.4rem 0;
}

.container>div:last-child {
    padding: 0 2rem;
}

.container>div:last-child>h2,
.sideBar h2 {
    font-size: 2.1rem;
    margin-bottom: 1.6rem;

}

.productsDisplayer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
}

@media (max-width: 1050px) {
    .productsDisplayer {
        grid-template-columns: repeat(2, 1fr);
    }
}

.sideBar {
    font-size: 1.4rem;
}

.sideBar>div {
    display: flex;
    gap: .8rem;
    justify-content: left;
    align-items: center;
    margin-bottom: 1.4rem;
    padding-left: .8rem;
}

.sideBar span {
    border: 1px solid var(--color-gray-light);
    border-radius: .4rem;
    width: 2.4rem;
    height: 2.4rem;
    display: grid;
    place-items: center;
}

.sideBar svg {
    fill: white
}

.clicked {
    animation: click-effect 0.5s ease 0s normal none running;
}

span.clicked {
    background-color: black;
}

.sideBar svg {
    width: 1.6rem;
}

.sideBar img {
    width: 2.8rem;
}

@keyframes click-effect {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}