.container {
    display: grid;
    grid-template-columns: 17rem 1fr;
    padding: 5.6rem 5.4rem 0;
}

.container>div:last-child {
    padding: 0 2rem;
}

.container>div:last-child>h2,
.sideBar h2 {
    font-size: 2.1rem;
    margin-bottom: 1.6rem;

}

.productsDisplayer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
}

@media (max-width: 1050px) {
    .productsDisplayer {
        grid-template-columns: repeat(2, 1fr);
    }
}

.sideBar {
    font-size: 1.4rem;
}

.categories>div {
    display: flex;
    gap: .8rem;
    justify-content: left;
    align-items: center;
    margin-bottom: 1.4rem;
    padding-left: .8rem;
}

.sideBar span {
    border: 1px solid var(--color-gray-light);
    border-radius: .4rem;
    width: 2.4rem;
    height: 2.4rem;
    display: grid;
    place-items: center;
    flex-shrink: 0;
}

.sideBar svg {
    fill: white
}

.clicked {
    animation: click-effect 0.5s ease 0s normal none running;
}

span.clicked {
    background-color: black;
}

.sideBar svg {
    width: 1.6rem;
}

.sideBar img {
    width: 2.8rem;
}

.favFilter {
    position: relative;
}

.favFilter::after {
    content: "favourites";
    font-size: 1rem;
    padding: .5rem 1.2rem;
    color: white;
    background-color: #3895ff;
    border-radius: 1.5rem;
    position: absolute;
    left: 10rem;
    top: 55%;
    transform: translateY(-50%);
}

@keyframes click-effect {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

@media (max-width:800px) {
    .container {
        grid-template-columns: 1fr;
        gap: 2.6rem;
    }

    .categories {
        display: flex;
        justify-content: space-between;
        gap: .5rem;
    }

    .categories>div {
        margin: 0;
        padding: 0;
    }

    .container>div:last-child {
        padding: 0;
    }
}

@media (max-width: 590px) {
    .container {
        padding: 2.5rem 1.2rem 2rem;
    }

    .sideBar {
        font-size: 1.2rem;
    }

    .categories> div {
        gap: .5rem;
    }

    .productsDisplayer {
        grid-template-columns: 1fr;
        gap: 1.8rem;
    }

}